[Unit]
Description=zmqBroker for modelworker (NER-Tagger)
After=network.target

[Service]
Type=simple
PIDFile=/var/run/zmqBroker.pid
Environment=LANG=C.UTF-8
User=www-data
Group=www-data
WorkingDirectory=/opt/venvs/ner-tagger
ExecStart=/opt/venvs/ner-tagger/bin/python ./zmqBroker.py 
SuccessExitStatus=0 1 143
RestartSec=1
Restart=on-failure

[Install]
WantedBy=multi-user.target
